body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #fdfbfb, #ebedee);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  background: #a18cd1;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

textarea {
  padding: 10px;
  border-radius: 6px;
}